<center>
    <%= form_tag artist_my_arts_path, method: :get do %>
        <%= text_field_tag :q, @search, placeholder: "Ache alguma arte!" %>
    <% end %>
</center>
<% if @artist_arts.count == 0 %>
    <% if params[:q].blank? %>
        <p>Você não tem artes até o momento!</p>
    <% else %>
        <p>Não achamos nenhuma arte com o termo de pesquisa!</p>
    <% end %>
<% else %>
    <% if @artist_arts.count == 1 %>
        <p><%= @artist_arts.count %> arte:</p>
    <% else %>
        <p><%= @artist_arts.count %> artes:</p>
    <% end %>
    <% @artist_arts.each do |art| %>
        <p><%= link_to art.title, art %></p>
        <hr>
    <% end %>
<% end %>