<center>
    <%= form_tag artist_path, method: :get do %>
        <%= text_field_tag :q, @search, placeholder: "Ache alguma arte!", id: "search" %>
        <%= 
            button_tag(type: 'submit', class: "search-button-after") do 
            end 
        %>
    <% end %>
</center>

<% if @artist_arts.count == 0 %>
    <% if params[:q].blank? %>
        <p>Você não tem artes até o momento!</p>
    <% else %>
        <p>Não achamos nenhuma arte com o termo de pesquisa!</p>
    <% end %>
<% else %>
    <ol class="gallery_ol">
        <center><h4>Artes de <b><%= @artist.username %></b></h4></center>
        <% @artist_arts.each do |art| %>
            <li align="center" class="art_li">
                <div class="view view-fifth">
                    <%= link_to(image_tag(art.image.url(:medium), class: "art_img_src"), art_path(art)) %>
                    
                    <div class="mask">
                        <center>
                            <br>Did you like it?
                            <br>
                            <%= link_to("See more", art_path(art), style: "margin-top:15px;", class: "donate") %>
                            <div style="height:5px;"></div>
                        </center>

                        <%= link_to(image_tag(art.artist.photo.url(:medium), size: "41x41", class: 'img-author', style: "position:absolute;"), artist_path(art.artist)) %>

                        <%= link_to(content_tag(:p, "\"#{art.title}\"", class: "name-art", style: "position:absolute;"), art_path(art)) %>
                    </div>
                </div>
            </li>
        <% end %>
    </ol>
<% end %>