<%= render 'css_cadastro' %>

<div class="hr"></div>
<div class='form' style="text-align:center;">

<style>
    .botoes {
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 8px;
    }
    
    .editar {
        background-color: green;
        color: white;
    }

    .cancelar {
        color: black;
        background-color: gray;
        padding: 10px;
        text-decoration: none;
    }
</style>

<center>
    <div style="height:30px;"></div>

    <%= form_for @artist do |f| %>
        <label>
            <%= f.text_field :username, id: "usernameLogin" %>
            <%= error_field @artist, :username %>
        </label>

        <label>
            <%= f.text_field :email, id: "usernameLogin" %>
            <%= error_field @artist, :email %>
        </label>

        <label>
            <%= f.text_field :birthday, class: "datepicker", id: "usernameLogin", placeholder: "Birthday: mm/dd/yyyy" %>
            <%= error_field @artist, :birthday %>
        </label>

        <label>
            <%= f.text_area :about, placeholder: "Tell us about you! (optional)" %>
        </label>

        <label>
            <%= f.password_field :password, placeholder: "Type here your new password", id: "usernameLogin" %>
            <%= error_field @artist, :password %>
        </label>

        <label>
            <%= f.password_field :password_confirmation, placeholder: "Type here your new password again!", id: "usernameLogin" %>
            <%= error_field @artist, :password_confirmation %>
        </label>

        <p class='botoes cancelar'><a href="http://sharingdreams.co/gallery">Cancel</a></p>
        <%= f.submit "Atualizar!", class: 'botoes editar' %>
    <% end %>
</center>