<% if @arts.count == 0 %>
    <h3>Não achamos nenhuma arte com o termo de pesquisa!</h3>
<% else %>
	<center>
		<%= form_tag ("/admin/accept_or_not"), method: :post do %>
		    <% @arts.each do |art| %>
		    	<center>
		    		<%= image_tag art.image.url(:medium), class: "art_img_src" %>

		    		<%= check_box_tag "accept[#{art.id}]", value="#{art.id}" %>
		    		<%= label_tag "accept[#{art.id}]", "Aceitar" %>
		    	</center>
		    	<br>
		    <% end %>

		    <%= submit_tag "Pronto!" %>
		<% end %>
	</center>
<% end %>

