<% if @arts.count == 0 %>
    <h3>Não achamos nenhuma arte com o termo de pesquisa!</h3>
<% else %>
	<center>
		<%= form_tag ("/admin/accept_or_not"), method: :post do %>
		    <% @arts.each do |art| %>
		    	<center>
		    		<%= image_tag art.image.url(:medium), class: "art_img_src" %>

		    		<%= radio_button_tag "accept[#{art.id}]", "aceitar", nil, :id => "aceitar_art_#{art.id}" %>
		    		<%= label_tag "aceitar_art_#{art.id}", "Aceitar" %>

		    		<%= radio_button_tag "accept[#{art.id}]", "nao_aceitar", nil, :id => "nao_aceitar_art_#{art.id}" %>
		    		<%= label_tag "nao_aceitar_art_#{art.id}", "Não-aceitar" %>
		    	</center>
		    	<br>
		    <% end %>

		    <%= submit_tag "Pronto!" %>
		<% end %>
	</center>
<% end %>

