<div style="height:20px;"></div>

<form method="GET">
    <center>
        <%= form_tag arts_path, method: :get do %>
            <%= text_field_tag :q, @search, placeholder: "Ache alguma arte!", id: "search" %>
            <%= 
                button_tag(type: 'submit', class: "search-button-after") do
                end
            %>
        <% end %>
    </center>
</form>

<div class="gallery">
    <% if @arts.count == 0 %>
        <% if params[:q].blank? %>
            <h3>Não possuímos nenhuma arte até o momento!</h3>
        <% else %>
            <h3>Não achamos nenhuma arte com o termo de pesquisa!</h3>
        <% end %>
    <% else %>
        <ol class="gallery_ol">
            <% @arts.each do |art| %>
                <li align="center" class="art_li">
                    <div class="view view-fifth">
                        <%= link_to(image_tag(art.image.url(:medium), class: "art_img_src"), art_path(art)) %>

                        <div class="mask">
                            <center>
                                <br>Did you like it?
                                <br>
                                <%= link_to("See more", art_path(art), style: "margin-top:15px;", class: "donate") %>
                                <div style="height:5px;"></div>
                            </center>

                            <%= link_to(image_tag(art.artist.photo.url(:medium), size: "41x41", class: 'img-author', style: "position:absolute;"), artist_path(art.artist)) %>

                            <%= link_to(content_tag(:p, "\"#{art.title}\"", class: "name-art", style: "position:absolute;"), art_path(art)) %>

                            <%= link_to(content_tag(:p, "Por: #{art.artist.username}", class: "name-author", style: "position:absolute;"), artist_path(art.artist)) %>
                        </div>
                    </div>
                </li>
            <% end %>
        </ol>
    <% end %>

    <center class="pages_box"><%= paginate @arts %></center>
</div>
