<% if @arts.count == 0 %>
    <h3>Não possuímos nenhuma arte até o momento!</h3>
<% elsif @arts.count == 1 %>

    <h3>Possuimos 1 arte até o momento</h3>

    <% @arts.each do |art| %>
        <p>Titulo: <%= art.title %></p>
        <p><%= image_tag art.image.url(:medium) %></p>
        <p>Criada há <%= time_ago_in_words(art.created_at) %> atrás</p>
    <% end %>

<% else %>
    <h3>Possuimos <%= @arts.count %> artes até o momento</h3>

    <% @arts.each do |art| %>
        <p><%= art.title %></p>
        <p><%= image_tag art.image.url(:medium) %></p>
        <p>Criada há <%= time_ago_in_words(art.created_at) %> atrás</p>
        <hr>
    <% end %>

<% end %>