<!DOCTYPE html>
<html>
    <head>
        <title>Sharing Dreams</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    </head>

    <body>

        <% if notice.present? %>
            <p><%= notice %></p>
        <% end %>

        <% if alert.present? %>
            <p><%= alert %></p>
        <% end %>

        <div class="top">
            <div class="logo" id='logo-margin'>
                <a href='/gallery'><img src="assets/img/logo.png" class="logo_img"></a>
            </div>
            <% if artist_signed_in? %>
                <ul class="menu_list" id='menu-margin'>
                    <li><%= link_to "Logout", artist_sessions_path, method: "delete" %></li>
                    <li><%= link_to "Minhas artes", artist_my_arts_path(current_artist) %></li>
                    <li><%= link_to "Nova arte", new_art_path %></li>
                </ul>
            <% else %>
                <ul class="menu_list" id='menu-margin'>
                    <li id="about_li"><a href="/about.php" id="menu">About</a></li>
                    <li>
                        <%= link_to "Join", new_artist_path, id: "menu" %>
                    </li>
                    <li><%= link_to "Login", new_artist_sessions_path, id: "menu" %></li>
                </ul>
            <% end %>
        </div>

        <%= yield %>

    </body>

</html>
